{% extends 'blog/base.html' %} {% block title %} ALPHA CREATIVE WORKS -
{{article.get_title}} {% endblock %} {% block body %} {% load markdown_extras %}
<div id="content" class=" acw3-max-width-840">
    <div class=" acw3-padding-32">
        <h1>{{ article.get_title}}</h1>
    </div>
  <div class=" acw3-bar">
    <small class=" acw3-right">{{ article.author }} <br>
        {{ article.date_created | date:'Y.m.d'}} | {{ article.hit_count }} views</small>
  </div>
  <div>
    {{ article.get_content | markdown | safe }}
  </div>
  <div>
      <br>
      {% for tag in article.tags.all %}
      <a href="{% url 'article_list' tag %}" class=" acw3-text-none acw3-text-a">&nbsp;#{{ tag }}&nbsp;</a>
      {% endfor %}
  </div>
</div>
{% endblock %}
